<a href="https://colab.research.google.com/github/luciabarg/datos_tumoresferas/blob/main/4_Aprendizaje_NO_Supervisado_Clasificacion_Tumoresferas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


<center>
<h4>Universidad Nacional de Córdoba - Facultad de Matemática, Astronomía, Física y Computación</h4>
<h3>Diplomatura en Ciencia de Datos, Aprendizaje Automático y sus Aplicaciones</h3>
 <h2>Mentoría: Clasificación de Tumoresferas </h2>
</center>

<a name="exploratory_data_analysis"></a>
#### **Práctico de Aprendizaje NO Supervisado**

En esta notebook, incorporamos parte de lo realizado en las entregas ([carpeta de entrega de prácticos](https://drive.google.com/drive/folders/1U4AG1tXjCT4ul09jt02bFMra45GtTFOC)) por: 
  
  * Alfredo Quevedo
  * Daniel Rubio 
  * Eugenia Bernaschini 
  * Guillermo A. Robiglio

Importamos las librerías necesarias:

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

sns.set_context('talk') 

import warnings
warnings.filterwarnings("ignore")

En este práctico, utilizaremos el archivo [original](https://drive.google.com/file/d/1ZPnIYSftwFVtKJLqEUE4t-W0xm4UnGT5/view?usp=sharing).

Para asociar el Drive:

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [4]:
try:
  import os
  os.chdir("/content/drive/My Drive/Datos_tumoresferas")
  # para acceder a la carpeta, en el siguiente link:
  # https://drive.google.com/drive/folders/1Qsf63jIGYm57Ozsfl9biLSpgsqGiikBh?usp=sharing
except FileNotFoundError:
  url = 'http://www.ccll.com.ar/fiji_datos_0al7mo_labels.csv'

In [5]:
fiji_datos = pd.read_csv("data/raw/fiji_datos_0al7mo_labels.csv") 
print('cantidad de datos:', len(fiji_datos))
fiji_datos.head()

cantidad de datos: 1018

,labels,Area,X,Y,XM,YM,Perim.,BX,BY,Width,...,FeretY,FeretAngle,MinFeret,AR,Round,Solidity,Esferoide,dia,Diameter,n_diam
0,Esferas_BT474_dia_0_well_1_100X_1_blob_1,324.4440,1129.2718,102.2051,1129.2718,102.2051,67.3603,1118.8859,92.3913,21.0598,...,157,23.4287,19.7011,1.0653,0.9387,0.9500,si,0,20.95640,1.491357
1,Esferas_BT474_dia_0_well_1_100X_1_blob_2,497.5115,1517.5528,126.1022,1517.5528,126.1022,82.8004,1504.7554,113.4511,25.8152,...,192,16.1443,25.1289,1.0475,0.9546,0.9569,si,0,26.00200,2.848733
2,Esferas_BT474_dia_0_well_1_100X_1_blob_3,282.9078,1314.2815,126.0988,1314.2815,126.0988,62.1586,1304.3478,116.8478,19.7011,...,189,15.4222,18.3424,1.0395,0.9620,0.9519,si,0,19.38970,1.181258
3,Esferas_BT474_dia_0_well_1_100X_1_blob_5,500.7421,1189.2841,212.6155,1189.2841,212.6155,84.5571,1175.9511,200.4076,26.4946,...,309,174.1440,25.1359,1.0278,0.9730,0.9493,si,0,25.88475,2.810370
4,Esferas_BT474_dia_0_well_1_100X_1_blob_6,492.8964,1043.0782,247.7667,1043.0782,247.7667,82.0728,1030.5707,235.7337,25.1359,...,353,143.4270,24.4565,1.0186,0.9817,0.9643,si,0,25.33985,2.636596

Agregar columnas que puedan ayudar a la caracterización de las categorías, combinarlas, eliminar columnas altamente correlacionadas y agregar las columnas de reducción de dimensionalidad halladas en el TP de *Exporación y curación*.

Acá no se realiza una separación en train-test sino que se utiliza todo el dataset. Así como hicieron en *'Aprendizaje Supervisado'* sugiero que realicen sólo como baseline el tratamiento de todo el grupo en conjunto y como una primera aproximación, pero realizar distintas propuestas sobre como dividir los datos, proponer de acuerdo a lo observado en otros prácticos de la mentoría,  distintas formas de tomar los conjuntos de datos e implementar los algoritmos explorados durante la materia *Aprendizaje NO Supervisado*. 

Además de que el modelo elija los clústers según el criterio del mismo prueban también proponer alguna modalidad en la cual tales resultados puedan ser interpretables. 

Luego de encontrar los diferentes grupos, colocar los labels como para saber cómo los está agrupando pero no tomar dicha información como variable.